*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    background: rgb(255,255,255);
    background: linear-gradient(33deg, rgba(255,255,255,1) 0%, rgba(82,226,255,1) 33%, rgba(15,215,255,1) 65%, rgba(0,129,255,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 30%;
    height: 80%;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.output{
    grid-area: 1 / 1 / 2 / 5;
    background-color: rgba(255, 255, 255, 0.399);
    border-radius: 10px;
    margin: 5px;
}
.AC { grid-area: 2 / 1 / 3 / 3; }
.equals { grid-area: 6 / 3 / 7 / 5; }
button{
    font-size: 2rem;
    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
}
.output{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 15px;
}
.previousOperation{
    height: 50%;
    font-size: 1.7rem;
    display: flex;
    align-items: end;
}
.currentOperaiton{
    height: 50%;
    font-size: 3rem;
    display: flex;
    align-items: start;
}