*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#root{
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(33deg, rgba(255,255,255,1) 0%, rgba(82,226,255,1) 33%, rgba(15,215,255,1) 65%, rgba(0,129,255,1) 100%); */
    background-image: url("./background.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 28%;
    height: 80%;
    background-color: #f96d00;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.output{
    grid-area: 1 / 1 / 2 / 5;
    background-color: #393e46;
    border-radius: 10px;
    margin: 5px;
}
.AC { grid-area: 2 / 1 / 3 / 3; }
.equals { grid-area: 6 / 3 / 7 / 5; }
button{
    font-size: 2rem;
    border-radius: 20px;
    border: none;
    background-color: #222831;
    color: #f2f2f2;
}
button:hover{
    background-color: #181c22;
}
.output{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 15px;
    color: #f2f2f2;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.previousOperation{
    height: 50%;
    font-size: 1.7rem;
    display: flex;
    align-items: end;
}
.currentOperaiton{
    height: 50%;
    font-size: 3rem;
    display: flex;
    align-items: start;
}